[2019-02-16 09:43] mazzech opened #1 "Initial testing"
Great to see Search API on Backdrop, I could bring many more projects to the platform when this is working.

Here's what I found out with the very initial testing
- Can't enable search facets (facetapi module is missing) (This issue is not urgent for me)
- Can't create a server at /admin/config/search/search_api/add_server (Message: "There are no service classes available for the Search API. Pleas

[2019-02-21 18:12] mazzech commented on #1
It also lead to errors when saving an existing node after making changes to the node content.

[2019-02-24 14:55] docwilmot commented on #1
Added Search API database module. Facetapi uses CTools, so I suspect porting may be a bit more work than I'm in the mood for right now.

[2019-02-26 09:14] mazzech commented on #1
Cool, thank you for the DB module:-) Meanwhile I managed to
- create server instance
- create server index
- choose indexed fields

But I get a white screen when making changes to https://mysite.com/de/admin/config/search/search_api/index/NAMEOFINDEX/workflow

And log messages like Notice: Use of undefined constant ENTITY_CUSTOM - assumed 'ENTITY_CUSTOM' in search_api_access_delete_page() (Zeile 2

[2019-03-10 15:06] herbdool commented on #1
Those error messages have to do with making entities exportable to Features. https://www.drupal.org/node/1021526. I presume we don't want to support that anymore.

[2019-03-10 17:02] docwilmot commented on #1
@herbdool thanks for the pointer. Don't know if I'll be working on this anytime soon though. Just remembered I'd also started some work on FacetAPI module as well too, will push that now. If there is great demand for search modules, someone, maybe me, can take this up if users ask for it enough.

[2019-03-11 07:26] mazzech commented on #1
Thank you @docwilmot :-) Good search is key for most of my projects in the long term, however it's not urgent at this point. But I guess with D7 EOL, this will be more of an issue for many Backdroppers

[2020-02-14 14:33] BWPanda opened #2 "Simplify README"
The README is huge with way too much text for someone just wanting basic information about the module.

I suggest minimising the README info to match https://github.com/backdrop-ops/module-template/blob/master/README.md and moving the bulk of the detailed info to the [wiki](https://github.com/backdrop-contrib/search_api/wiki).

[2020-04-17 09:47] retrodans commented on #1
Just thought it worth stating that we are looking into backdrop at the moment, and `search_api` may become a blocker for us.  I intend to test it out now to see how much works for us, and whether it works enough for the majority of our use cases.  But if any testing is needed, please do just let us know, and I will try to help where possible.

[2020-04-17 10:06] mazzech commented on #1
Thanky you @retrodans Are there specific elements of Search API who are "more of a blocker" than others?

[2020-04-17 10:37] retrodans commented on #1
Thanks for the quick reply @mazzech after some initial tests, some higher priority issues I would raise (based on our example site) are:

- [ ] **search_views** - I cannot create a new view which filters by a search index (I have search_api, search_db, search_api_views all enabled) and have a lot of broken_handlers in my views
- [ ] **search_facets** - is also used on a lot of our sites (this is t

[2020-04-17 11:05] mazzech commented on #1
Hi Dan,

I created a Search Function just by using Views and Exposed Filters, without any search-related module: https://lag.mazzemedia.ch/suchen

(try e.g. "Aargau" as keyword, the region this organisation is located at, this will lead to many results)

I can also restrict the search by field, content type, etc. It's not the most elegant way performance-wise, but it works.

I never tried, but eve

[2020-04-17 11:12] mazzech commented on #1
Oh, and I forgot "Search > Did you mean..." with similar expressions, correctly spelled versions etc. I know that in D7 it took an Apache SOLR server for this, but people really want a search to have those features, IMO.

[2020-04-17 12:07] retrodans commented on #1
On that, ultimately **SOLR** will also be a blocker on some of our sites (but not all), and having search_api working feels like a step towards being able to do that.

Thanks for the pointers on just using core, they are valid points, and things that could be considered.

@mazzech is the plan (roadmap) to drop this module and do everything in core instead btw? Or do we still need some issues and p

[2020-04-17 12:58] mazzech commented on #1
I have no idea what the roadmap is, but there were some discussions, and I proposed improved Search to be an key feature in a future release. Back then, the priority did not seem that high or urgent. But in the long term, good search function is important for increasing the adoption rate. (There might be 60k+ D7 websites running Search API https://www.drupal.org/project/usage/search_api)

[2020-04-17 13:02] retrodans commented on #1
For sure, what with the eol being late next year, decisions are being made now (at least for us), and so anything lacking we need to look at and work out if we can help, and if we can, how much time would be required.  Search (and facets) feels like a bit of a beast, but I could be wrong.

I assume the module was (close to) a direct copy from the Drupal site, so wonder why some things wouldn't wor

[2020-04-17 13:05] mazzech commented on #1
We should try to bring this up at the next DEV meeting, but let me check if it's not in the list already

@olafgrabienski did you talk about it recently in the core team?

[2020-04-17 13:28] olafgrabienski commented on #1
@mazzech I don't recall an extensive discussion about search at the weekly meetings (didn't attend every meeting, though).

[2020-04-17 14:08] retrodans commented on #1
Thanks for the info, can I ask what the dev meetings are, when they are, and who are in them?  Partly out of curiosity, partly as it will help know when this might get discussed.

@mazzech if it can be mentioned, that would be great, I think search/facets are really the only thing blocking us (as an agency) from considering backdrop as an option, so would be good to know what the plan/timeline is,

[2020-04-17 22:50] olafgrabienski commented on #1
@retrodans You'll find information about the weekly video meetings (on Thursdays) on the page https://backdropcms.org/support/resources. Look for the section "Community Meetings".

[2020-04-18 07:41] mazzech commented on #1
Hi @retrodans great, let me know if I can help you with both testing and define testing scenarios.

Maybe @stpaultim (developer relations) also wants to chime in here...? Dan currently has a look at Search API, which is important for Backdrop adoption rate, ten of thousands D7 installations out there.

[2020-04-22 11:21] retrodans commented on #1
Thanks for the information.  It sounds best if I listen on this ticket until you have your meeting on Thursday, as some updated on the importance of SearchAPI will be getting discussed there.  Does this sound correct?

Thanks again for the help with this.

Dan

[2020-04-22 15:52] olafgrabienski commented on #1
@retrodans For reference, there's also the core meta issue [Improve core search](https://github.com/backdrop/backdrop-issues/issues/1332).

[2020-04-23 18:57] stpaultim commented on #1
@retrodans - Just to be clear, the dev meeting (happening in just over an hour today) is an open meeting to discuss Backdrop dev issues. Anyone is welcome to attend and comment on issues that are important to them.

This issue will be raised. But, the amount of attention it gets will depend upon who is attending and how interested they are in this issue. https://backdropcms.org/news/meetings

This

[2020-04-24 08:18] mazzech commented on #1
Hi @retrodans, we discussed this issue at yesterday's meeting (as Tim says, feel free to join us next week or anytime soon). Here's my quick summary of the discussion.

- All participants see that there's a lot of room for improvement regarding search in Backdrop
- There has NOT been much discussion about core search recently, also because the issue has no advocate who push things forward (well, t

[2020-04-30 14:03] retrodans commented on #1
Hi @mazzech I am a php/python developer, and at my core, specialise in Drupal (hence this work now, as we are looking at options for Drupal7 clients that are not ready for a fresh Drupal8 site).  I am part of an agency in oxford, so there are other developers.  We are still trying to confirm if we can assign budget/resource to Bootstrap, although I am hoping we can do.  Search_api is the only real

[2020-05-01 15:22] herbdool commented on #1
I believe that search_api (and search_api_db) are probably pretty close to being usable. I don't have a need for them so I haven't worked on them, but I have tested them. The one main thing that wasn't working for me was when creating a View. I attempted some debugging but stopped because of other priorities.

[2020-06-10 13:22] laryn opened #3 "Views integration not working"
(Pasted from [a comment in another thread](https://github.com/backdrop-contrib/search_api/issues/1#issuecomment-622431363))

[2020-09-29 06:18] BWPanda opened #7 "Overview table issues"
The overview table (`/admin/config/search/search_api`) has some issues:

![image](https://user-images.githubusercontent.com/2385329/94520229-3ba18a80-026f-11eb-8978-b2815a04fa1a.png)

I think the whole `search_api_admin_overview()` function needs some cleaning up/simplifying...

[2020-10-04 07:31] earlyburg commented on #7
Is this a layout issue? Mine shows the index listing right justified but that is all.

This pull request might help: https://github.com/backdrop-contrib/search_api/pull/6

![image](https://user-images.githubusercontent.com/36900097/95009690-08a22280-05f2-11eb-88ac-2235fbfecf59.png)

[2020-10-13 11:03] #7 closed

[2020-10-15 18:14] herbdool opened #9 "Maintainers"
Hi @earlyburg - thanks for taking on the maintenance of this module. Though I'm just trying to find the issue where the previous maintainer @docwilmot and you agreed to add you as a maintainer. Perhaps this was done outside of this channel. Regardless it would be good to make it official here.

I can't find the exact wording here https://github.com/backdrop-ops/contrib (perhaps @klonos can point m

[2020-10-15 18:20] earlyburg commented on #9
Hi @herbdool
Here is a link to the issue where Docwilmot and I discussed having me take this over with his oversight and guidance:
https://github.com/backdrop-contrib/search_api/pull/6
I'm both grateful and excited to be a part of the team here.
Once you have reviewed the pull request where we had the dialog, let me know how I can best help out.

[2020-10-16 10:19] earlyburg opened #10 "Request to be added as a maintainer for search_api"
Please consider my request to be added as a maintainer for this module. Thank you.
https://github.com/backdrop-contrib/search_api/issues/9
@docwilmot is ok with it:
https://github.com/backdrop-contrib/search_api/pull/6
I appreciate it.

[2020-10-17 01:11] herbdool commented on #9
@earlyburg thanks for clarifying and thank you for getting this project working!

[2020-10-19 15:22] earlyburg commented on #3
@laryn This issue is most likely the result of reduced views support in the core entity module.
Function entity_views_field_definition() is referenced twice in search_api_views.views.inc, on lines 43 and 175, but this function is no longer a part of entity nor a part of entity plus.
The function was originally located in the drupal 7 entity module in entity.views.inc on line 175

This functionalit

[2020-11-14 13:51] earlyburg commented on #3
Hello,
We have upgraded entity_plus with the required functionality needed to fix this issue. I have created a pull request:
https://github.com/backdrop-contrib/search_api/pull/11

[2020-11-14 17:46] laryn commented on #3
Maybe good to specify a minimum version of entity plus in the dependency.

[2020-11-14 19:11] earlyburg commented on #3
@laryn
I have added a minimum version requirement and updated READMEs as well. Thanks for pointing that out.
Also. may I please be added to the list of maintainers?
https://github.com/backdrop-contrib/search_api/issues/10

[2020-11-17 11:20] #3 closed

[2020-11-17 11:48] earlyburg commented on #10
This has been done. Closing this issue
Reference = https://github.com/backdrop-contrib/search_api/pull/11

[2020-11-17 11:48] #10 closed

[2020-11-17 12:05] earlyburg commented on #9
Closing this as this is resolved by https://github.com/backdrop-contrib/search_api/issues/10

[2020-11-17 12:05] #9 closed

[2020-11-17 12:15] earlyburg commented on #1
Hello all - I just read through this thread and wanted to update the group about the remaining steps on my path to an official release.
I will be testing the facet_api integration and resolving some issues I have been running into with tests, and then I hope to be able to create an official release along with the search_api_solr module. I welcome any and all feedback on functionality and appearanc

[2020-11-17 14:08] earlyburg opened #12 "PHP Error: Too few arguments to function facetapi_get_plugins() when accessing facets tab"
After enabling search facets module accessing the "facets" tab at /admin/config/search/search_api/index/my_index/facets, a PHP error is returned with the following info:

ArgumentCountError: Too few arguments to function facetapi_get_plugins(), 2 passed in /modules/facetapi/plugins/adapter.inc on line 359 and exactly 3 expected in facetapi_get_plugins() (line 256 of /modules/facetapi/facetapi.modu

[2020-11-17 15:00] docwilmot commented on #1
reminder that facetapi code is quite very pre-alpha.

[2020-11-17 15:09] earlyburg commented on #1
@docwilmot WIthout your hard work on this I would not have gotten this far. I am doing a bit of testing now, so down the proverbial rabbit-hole I go. Thanks for the heads-up, I appreciate it.

[2020-11-18 21:18] earlyburg commented on #12
The function facetapi_get_plugins() is a clone of the function ctools_get_plugins().
https://api.drupal.org/api/ctools/includes%21plugins.inc/function/ctools_get_plugins/7.x-1.x
the original function takes two params with one optional param
the changed function (facetapi_get_plugins()) takes three.
Unfortunately the new function is used in the context of the old one in the code, with the third val

[2020-11-18 22:05] docwilmot commented on #12
Isn't this a Facet API module error?

[2020-11-19 07:35] earlyburg commented on #12
@docwilmot Yes, that is correct.

[2020-11-20 16:54] earlyburg commented on #12
@docwilmot (update) I've been working on facetapi since yesterday. I think I understand where you left off, why, and what we are trying to do, and I feel we are really close. I'm eventually going to push my work up to my github/earlyburg/facetapi branch when I get it completely working.

[2020-12-06 10:11] mazzech commented on #1
Great to see this evolving... let me know if I can help with testing.

[2020-12-06 12:09] earlyburg commented on #1
@mazzech I really appreciate the offer!
Search API is definitely ready for testing. I would like to get an official release for this out before christmas, so I welcome any testing and subsequent feedback. So far it's working very well for me. The only real issue right now is the status of
https://github.com/backdrop-contrib/facetapi
which I have been working on with the kind assistance of docwilmo

[2020-12-06 13:40] mazzech commented on #1
![Screenshot 2020-12-06 at 14 31 49](https://user-images.githubusercontent.com/5985692/101281851-d4a1d400-37d1-11eb-820b-91c53eed2f4a.png)
Hi @earlyburg

thank you... I can't installe the Facet module, however, the search module seems to work quite well. See screenshot for what I see after activating Search API and Facetapi.

I will continue to check out Search API... (just curious... are there al

[2020-12-06 14:00] mazzech commented on #1
OK, can't install Search API either... same error with entity plus.

[2020-12-11 17:35] herbdool opened #13 "Undefined function entity_view()."
When attempting to index I get this error:

I believe this happens when I enable the option to add the "Complete Entity View" in the filters.

Changing to `entity_plus_view()` appears to work.

[2020-12-11 17:48] herbdool opened #14 "Excerpt Views field is broken handler"
When I add the excerpt it says it's broken.

In `includes/processor_highlight.inc` I changed `$language->language` to `$language->langcode`. But that isn't the only issue. I also see:

In `/contrib/search_api_views/views/search_api_views.views.inc` line 110 I changed to `$table['search_api_excerpt']['field']['handler'] = 'entity_plus_views_handler_field_text';` and that fixed the broken handler.

[2020-12-11 17:53] herbdool opened #15 "Progress bar never stops"
![Screenshot from 2020-12-11 12-52-33](https://user-images.githubusercontent.com/1071483/101937353-c11ab280-3baf-11eb-90ba-b7b18973289e.png)

Looks like everything is finished indexing but the progress bar doesn't stop.

[2020-12-11 17:56] herbdool commented on #14
Related to the except, I'm not sure if this is a general error or not, but I notice the excerpt is only highlighting the title field. I'm going to test a bit more before reporting.

[2020-12-11 18:00] herbdool opened #16 "Complete Entity view should show "default" view mode as option"
Currently it allows Full Content, Teaser, etc, but not the Default - this is a new Backdrop view mode which is used as a fallback.

[2020-12-11 18:04] herbdool opened #17 "Search excerpt not showing highlights from Entity HTML output (search_api_viewed)"
I think it's only indexing the other fulltext fields (for example, I have title which is getting highlighted).

[2020-12-21 16:54] earlyburg commented on #12
This  has been fixed by merged pull request here:
https://github.com/backdrop-contrib/facetapi/pull/4
Closing this issue.

[2020-12-21 16:54] #12 closed

[2020-12-21 17:02] earlyburg commented on #15
![search_api_scrnsht_drpl](https://user-images.githubusercontent.com/36900097/102802107-2fb3f900-4384-11eb-9aa5-1157f323816b.png)

In  D7, the progress bar  displays as filled or full. I'm downgrading this issue from 'bug' to 'good first issue', because it's technically not broken, but needs upgrading.

[2020-12-21 17:05] earlyburg commented on #17
Hi herbdool,
Can you please provide a bit more info about this? I appreciate your input.
Thanks.

[2020-12-21 17:49] earlyburg commented on #13
This has been fixed.
https://github.com/backdrop-contrib/search_api/commit/817fd66473700a62918a69693178acf6cd038440

[2020-12-21 17:55] earlyburg commented on #13
I'll do  a new release after I squash some more bugs...

[2020-12-21 18:05] earlyburg commented on #14
This has been fixed.
https://github.com/backdrop-contrib/search_api/commit/5643c7270d005b08ca110f6a45b57116fa09b90d
Thanks for the assistance, I appreciate it.

[2020-12-21 18:09] earlyburg commented on #1
Closing this issue due to it's age and lack of relevance.

[2020-12-21 18:09] #1 closed

[2020-12-21 18:15] earlyburg commented on #13
Fixed with latest release:
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.02
closing this issue.

[2020-12-21 18:15] #13 closed

[2020-12-21 18:15] earlyburg commented on #14
This has been fixed with the latest release:
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.02
Closing this issue.

[2020-12-21 18:15] #14 closed

[2020-12-22 13:41] earlyburg commented on #17
![searchApiScrnsht_2](https://user-images.githubusercontent.com/36900097/102894357-f7b6bf80-4430-11eb-970e-018e97f6cc3d.png)

Since the last update, I have been able to configure Complete Entity View (Full Content) and Highlighting with excerpt.
This seems to be working for me as expected. I'll wait a few days for an update from you, and then I will close this.
Again, thanks.

[2020-12-22 18:13] herbdool commented on #17
I haven't tried it since I reported it but it does indeed look like you've got it working. So looks good to me! At some point I'll update my local code to match the repos and test again.

[2020-12-22 22:16] herbdool commented on #17
Hm, still not working fully for me. I pulled the latest code for entity_plus, search_api, search_api_db and rebuilt the test site. Perhaps I've got some settings different from you, but not sure what - I've got the same as you above.

[2020-12-23 06:57] earlyburg commented on #17
Ok np. Can you please post a screenshot of what you are seeing perhaps I can be helpful. What aspect is not working on your site? Are you using search_api_page?

[2020-12-23 14:27] herbdool commented on #17
![Screenshot from 2020-12-23 09-22-15](https://user-images.githubusercontent.com/1071483/103006910-76c6f900-4500-11eb-8e60-f25aecab7ce2.png)

This is the view - it was the title and the Search excerpt field. The excerpt is only showing highlights of the title and nothing else. Some of the results do have the search term but they're not highlighting.

In the search index it's set to use search_api_

[2020-12-23 14:33] herbdool commented on #17
I had only recently figured out the right combo for displaying this on a d7 site so I think I have it right, but maybe not. (Aside: the documentation on setting up excerpts was quite poor in Drupal. Maybe we could have an extra module with some pre-set configuration for a node index and a view.)

[2020-12-23 16:19] earlyburg commented on #17
https://github.com/backdrop-contrib/search_api_page

Hi  @herbdool,
From your screenshot I can see you have content in your index and that highlighting is working.
Try using the search_api_page module to  set up a search page. The module provides page templates that will display your search results properly, along with giving you a bit more control over how the search results and search form are d

[2020-12-24 13:53] herbdool commented on #17
Interestingly I get a similar result with search_api_page (I didn't know this module existed till now). At least I know it's not an issue with search_api_views. Must be something to do with the core module. Are you using the current head of the repo @earlyburg or a different branch?

![Screenshot from 2020-12-24 08-51-21](https://user-images.githubusercontent.com/1071483/103092495-69277700-45c5-11

[2020-12-24 15:30] herbdool commented on #17
@earlyburg in your screenshot above are you using Solr or search_api_db? I'm using search_api_db.

[2020-12-24 18:13] earlyburg commented on #17
Hmm, I suspect this may be  related to search_api_db. I'm using search_api_solr but I also have a verson of search_api_db working on my local environment. Let me pull a diff between my code and the current branch. More on this soon.
Also - thanks for the assistance.

[2020-12-28 18:25] earlyburg commented on #17
@herbdool I took a look at the search_api_db module and looks like the current version works as expected.
One thing that I did think about is that it might be possible that you have not indexed the Body text field, but I'm not sure about that unless you give me access to your setup. Check out the options on:
/admin/config/search/search_api/index/%myIndexName%/fields
All the way at the bottom of th

[2020-12-29 13:57] earlyburg commented on #16
@herbdool - Hi, can you give me an example where this is used elsewhere? I'm mindful that I probably don't know enough about this entity view mode. Thank you for your help, I appreciate it.

[2020-12-29 14:17] earlyburg commented on #15
@herbdool Hi,
I authored a fix for this - It will go out with the next release. You can view it here:
https://github.com/backdrop-contrib/search_api/commit/db27b5b7c9659e0c376e792c1bd1192111cb0790
Turned out to be an easy CSS tweak. Thanks for pointing it out, I appreciate it!
Closing this issue - Fixed / Upgraded

[2020-12-29 14:18] #15 closed

[2020-12-29 14:57] earlyburg commented on #2
@BWPanda Hi,
I have created a wiki page and updated the README as you suggested.
https://github.com/backdrop-contrib/search_api/commit/fc8ec31fc2d7b1c423667db765b74ba614c707c3
I tried to be consistant with my re-write. Thanks for pointing this out.
I'll wait for a few days before I do a release that will include this fix in case of any feedback for changes.

[2020-12-31 13:27] #17 closed

[2021-01-01 11:30] #2 closed

[2021-01-04 14:54] herbdool commented on #17
Hm, perhaps that is it - I'll try. I had assumed that it was either/or: either index the Entity HTML or index each individual field that could show up in the rendered HTML. (Maybe I should compare it with D7).

[2021-01-04 14:58] herbdool commented on #17
At any rate, we should put some more documentation up. Since even an experienced developer like me is confused by things.

[2021-01-04 16:34] earlyburg commented on #17
@herbdool I agree. Some documentation is definitely on the list of things to do.
If you want a field or entity in your search results - you have to tell search api about it.
There is a Wiki for documentation now-
https://github.com/backdrop-contrib/search_api/wiki
If you see something that should be added let me know, and thanks again.

[2021-01-27 10:13] earlyburg commented on #16
Closed due to inactivity >= 30 days.

[2021-01-27 10:13] #16 closed

[2021-02-15 22:42] erictoupin opened #18 "Call to undefined function entity_view()... line 78 ...modules/contrib/entity_plus/views/plugins/entity_plus_views_plugin_row_entity_view.inc"
After creating and configuring a Search Server and Search Index, I am attempting to create a new View of the custom type "Organization Search" which is my configured custom Search Index. When executing the view preview or visiting its page, I receive the following error:

Error: Call to undefined function entity_view() in entity_plus_views_plugin_row_entity_view->pre_render() (line 78 of /var/www/

[2021-02-15 23:13] ghost commented on #18
This seems related to #13 and seems to be fixed by switching to entity_plus_view in line 78 & entity_plus_id later in line 94. The latest release was not working for me out of the box.

[2021-02-15 23:18] earlyburg commented on #18
This is a bug that I feel may have been dealt with already, but I'll have a look.

[2021-02-15 23:29] earlyburg commented on #18
@erictoupin
Line 77 in this github repo shows:
"  $render = entity_plus_view($type, array($item->id() => $item), $mode, $item->search_api_language); "
https://github.com/backdrop-contrib/search_api/blob/1.x-1.x/includes/callback_add_viewed_entity.inc

I feel that it might be possible that you are not using the latest release found here:
https://github.com/backdrop-contrib/search_api/releases/tag/1

[2021-02-15 23:42] ghost commented on #18
@earlyburg thanks for the super quick response. I believe I filed this incorrectly, as it is actually the entity_plus module throwing the error at entity_plus_views_plugin_row_entity_view.inc. It is thrown when visiting a search view configured with Search API views.

[2021-02-16 06:24] #18 closed

[2021-02-16 18:14] erictoupin opened #19 "Unsupported operand types in... line 27 ...search_api/contrib/search_api_views/includes/handler_filter_language.inc"
Hello,

I am trying to add an ES / EN filter to a Search API custom index search view. When adding the filter via the views interface, the dialogue fails to load. The registered error is the title of the issue.

I am able to resolve (maybe?) the issue by adding to the preceding line:

if (empty($this->value_options)) {
  $this->value_options = array();
}

Backdrop 1.18.1
PHP 7.2.30-1
Search API 1.

[2021-02-16 18:22] earlyburg commented on #19
Hello, - I'll take a look today after work in a few hours.
Thanks

[2021-02-17 12:54] earlyburg commented on #19
I had a look at this and it may be caused by entity_wrapper.
I will continue to debug this, can you tell me a bit more about the views filter?
Also feel free to submit a pull request if you have code you want to contribute.
More on this soon, thanks for your patience with this issue.

[2021-02-17 14:11] ghost commented on #19
Hello again,

I am working to configure a search index on a node type with mostly standard fields. I added the node language attribute to the search index via Search API settings, then was attempting to filter on the language in the search view. This is where I received the error that "broke" the view interface. It seems the error has something to do with an attempt to add filter options to an as

[2021-02-20 09:35] earlyburg commented on #19
Line 27 reads:
$this->value_options = $options + $this->value_options;
The unsupported operand types refers to the simple equation above.
The operands in this instance are the values on either side of the plus sign "+"
This would seem to indicate that one of the variables does not contain the type of value that can be used mathematically in an addition operation.
The real question is "What is bein

[2021-02-20 11:42] earlyburg commented on #19
For this filter, can you please tell me what kind of indexed data type you are working with?
/admin/config/search/search_api/overview - then look at your index fields and in the 4th column it should list the data type.
Thank you, I appreciate it.

[2021-02-28 14:47] erictoupin opened #20 "Transliteration search index processor not supported"
Hello,

The transliteration index processor does not appear as an option at the admin screen here:

/admin/config/search/search_api/index/MY_INDEX_NAME/workflow

This appears to be caused by the expectation that transliteration is a module. I am able to get it working by:

1. removing the module_exists() all at search_api.module line 1185 which checks to see if transliteration is installed (it's i

[2021-02-28 15:14] earlyburg commented on #20
Feel free to submit a pull request for this issue. If it works, I'll merge it into the branch after I test it. Thanks for letting me know.

[2021-02-28 18:31] ghost commented on #20
Ok I think I added a pull request, not super familiar with github. Let me know if there is some specific tagging / naming convention or something I am supposed to use.

[2021-03-01 09:24] earlyburg commented on #20
I reviewed the pull request and discovered something interesting. The functions differ between backdrop and d7. In D7 we can pass language_default() a var, but in backdrop we do not. In addition, your pull request calls
language_default('language')->langcode)
but langcode is not a method or property of this function in backdrop, although this would work in D7. Please have a look at the official do

[2021-03-01 09:50] earlyburg commented on #20
Closing this - fixed by latest release:
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.04

[2021-03-01 14:16] ghost commented on #20
@earlyburg this release did not fix the issue for me, were you suggesting I would need to update transliteration.inc to make this work? I ran into the same chain of errors that I did in the previous release, which inspired the "for now" fix I suggested in my first comment and the pull request. Perhaps I am missing something, but here are the chain of issues:

1. function_exists(transliteration_get

[2021-03-01 14:19] ghost commented on #20
Some context for the images: One of them shows that the transliteration processor is not available before commenting out the if statement. The others are the chain of errors I get when attempting to build the search index.

[2021-03-02 00:25] earlyburg commented on #20
You did not mention there was an ajax error
I appreciate the more informative documentation.
I am going to try and replicate with the info that you forwarded.
More on this soon

[2021-03-02 00:38] earlyburg commented on #20
I liked dpm(language_default());
The documentation is incomplete it seems :)
I wquld also like to point out that none of the modules that you have listed are in backdrop core. All the ones in the picture are contrib (all 12 of them) .
I spent like 2 months working with the people who maintain entity plus module just to stand this (search api ) set of modules up. Why? Because Drupal 7 was lovely bu

[2021-03-06 09:33] earlyburg commented on #20
@erictoupin
The function transliteration_get() does not seem to be available, although it is currently in /core/includes/transliteration.inc
I used a vanilla install of Backdrop - added devel module and enabled all the core translation modules - then tried to run:

// include_once('/var/www/rvg-web.net/backdrop/core/includes/transliteration.inc');
if( function_exists('transliteration_get') ) {
bac

[2021-03-06 10:11] earlyburg commented on #20
Submitted this bug report for core:
https://github.com/backdrop/backdrop-issues/issues/4983

[2021-03-06 20:06] earlyburg commented on #20
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.05
Recent release includes transliteration.inc and associated functions for use with modules and sub-modules in search api

[2021-09-02 20:35] jenlampton opened #22 "Unable to sync config: hook_config_info() not implemented"
When doing a config sync, I get the following error:
[code]

This is because the `search_api_facetapi` module does not declare it's config file in `hook_config_info()`.

PR on the way!

[2021-12-29 18:41] herbdool opened #24 "Fix needed to support a proposed date module fix"
Fix needed to support an update to date module: https://github.com/backdrop/backdrop-issues/issues/4267. There's a simple fix in the d7 queue for it. Would be good to get that fix in here so the date module can be fixed in core.

Thanks!

[2021-12-29 19:09] earlyburg commented on #24
Thanks for letting me know. I will take a look asap.

[2021-12-30 13:41] earlyburg commented on #24
@herbdool - I looked at this. It will take additional time. Please stay tuned.
This is actually a bit complex. I'm not sure how I am going to test against a core fix that has not been applied yet unless I branch core and do the update to the date module, then test against it. I am understanding the patch in d7 but I need to figure out how and where this may apply to search_api

[2021-12-30 13:41] #22 closed

[2021-12-30 13:44] earlyburg commented on #20
Closing this due to lack of activity.

[2021-12-30 13:44] #20 closed

[2021-12-30 13:45] earlyburg commented on #19
Closing this due to lack of activity

[2021-12-30 13:45] #19 closed

[2022-02-01 01:49] argiepiano opened #25 "Entity Plus constants now start with prefix ENTITY_PLUS_XXX"
Recently, in the Entity Plus issue queue (https://github.com/backdrop-contrib/entity_plus/issues/115),  someone reported an undefined constant ENTITY_CUSTOM error invoked by Search API.

Please note that, since [this commit](https://github.com/backdrop-contrib/entity_plus/commit/b7ccd32a96ba4593f8a2c94f8f6dc59008ed535b) in Oct 2021, Entity Plus has prefixed all its constants as follows:

ENTITY_PL

[2022-02-01 15:05] earlyburg commented on #25
This seems like an easy fix. I will try to get this done by the end of the week if possible.
Thanks for the detailed synopsis, I appreciate it.

[2022-02-16 00:24] djzwerg opened #26 "Transliteration filter breaks indexing"
While using the transliteration filter the following error occurs during cronjob (indexing):

`Warning: Illegal offset type in isset or empty in _transliteration_replace() (line 187 of /mypath/core/includes/transliteration.inc).`

`Error: Object of class stdClass could not be converted to string in preg_replace() (line 188 of /mypath/core/includes/transliteration.inc).`

[2022-02-16 11:17] earlyburg commented on #26
Please provide more detailed information regarding the error, including a stack trace if possible.
In order to test this I need to know what conditions caused the issue.
Thanks

[2022-02-17 22:53] djzwerg opened #27 "Search API Views: Entity Error"
I wanted to create a search view but can't chose the rendered entity formatter. The following error occured:
`Error: Class 'EntityFieldHandlerHelper' not found in SearchApiViewsQuery->get_result_wrappers() (line 587 of /mypath/modules/search_api/contrib/search_api_views/includes/query.inc).`

[2022-02-17 22:59] djzwerg commented on #26
@earlyburg which information would be helpful? I'm not able to make a stack trace. This is the only information I have for now:
![grafik](https://user-images.githubusercontent.com/49948628/154585706-d73f3cc9-9c8c-4e08-83b3-569af51205a7.png)

[2022-02-17 23:01] djzwerg commented on #26
My settings:
![grafik](https://user-images.githubusercontent.com/49948628/154585845-3ddc5ee0-9e2e-41a1-9a92-0f81b0dc24cb.png)

[2022-02-18 09:46] earlyburg commented on #26
This is helpful. Can you please tell me what type of fields you are transliterating? Also, what kind of data are in the fields. I tested this and was not able to reproduce the error you are seeing. Thanks I will test this a bit more with an updated core, but I suspect it may be something specific to your environment. Can you also please give me a list of the contrib modules you are using and have

[2022-02-18 09:50] earlyburg commented on #27
This may be a result of recent changes to entity plus module. I will investigate further.

[2022-02-18 21:54] djzwerg commented on #26
Oh yes of course:

- node
- node:title
- node_custom_field1 (number)
- node_taxonomy_reference (text)
- node_taxonomy_reference:name
- node_custom_field2 (text)
- node:body:value

- taxonomy_term
- taxonomy_term:name

[2022-02-18 21:55] djzwerg commented on #27
Thanks a lot @earlyburg

[2022-02-19 18:32] earlyburg commented on #25
This has been done.
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.06
Thank you for your patience. Closing this issue.

[2022-02-19 18:32] #25 closed

[2022-02-19 18:33] earlyburg commented on #26
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.06
Please download the latest release of this module and let me know if it resolves this issue.
Thanks for your patience, I appreciate it.

[2022-02-19 18:35] earlyburg commented on #27
Please download the latest new release of this module
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.06
Let me know if it resolves this issue.
Thanks for your patience with this.

[2022-02-19 18:52] djzwerg commented on #26
Hi @earlyburg thanks for your work. I'm sorry but the issue is still there

![grafik](https://user-images.githubusercontent.com/49948628/154814856-a32cfe6c-caa1-45c4-9a76-e141d7fb810a.png)

[2022-02-19 18:53] djzwerg commented on #26
Hi @earlyburg and thanks for your work. I'm sorry but the issue is still there:
![grafik](https://user-images.githubusercontent.com/49948628/154814891-e24048d7-b751-42cb-a3a0-a4b6184558c0.png)

[2022-02-19 18:56] djzwerg commented on #26
I've tested a bit and found out that the error always occurs even if transliteration is not enabled for any field.

[2022-02-19 19:47] earlyburg commented on #26
I created a fresh install of backdrop latest release
I installed the latest versions of search_api, search_api_solr search_api_pages.
I set the filters exactly the way you have in your image and transliterated all fields
Using a solr based server I was not able to reproduce this issue using content generated by the devel module.

Without access to your site and its code - I can't really go any fur

[2022-02-19 20:35] djzwerg commented on #27
Thanks! I can confirm that this issue has been solved.

[2022-02-19 20:38] djzwerg commented on #26
Well I don't use Search API Solr (only Search API and Search API DB). Maybe search_api_DB causes this issue? Is there a way to figure that out?

[2022-02-19 20:40] djzwerg commented on #26
I'm using PHP 7.4.27 and MySQL 8.0.25

[2022-02-19 20:43] djzwerg commented on #27
Well I'm sorry. As I can see for now it is not possible to create a search (index) view of the rendered entity. Only fields are available:
![grafik](https://user-images.githubusercontent.com/49948628/154818392-1f0e1aef-2609-4dc1-b41b-f2fb9b38c082.png)

[2022-02-19 21:20] earlyburg commented on #27
This is not an issue with Search API per se.
Unless you have a php message this should be categorized as a feature request.

[2022-02-19 21:20] #27 closed

[2022-02-19 21:41] djzwerg commented on #27
In Drupal 7 I can create an unformatted list of the rendered entity. I thought it was a bug, too. Sorry, my fault.

[2022-02-19 22:32] djzwerg opened #28 "Feature request: Search API Views styling rendered entities"
As mentioned at https://github.com/backdrop-contrib/search_api/issues/27 it would be great to create a search page with views. Following https://www.drupal.org/docs/7/modules/search-api/getting-started/search-forms-and-results-pages/search-api-views/creating-a it would be needed to have the _rendered entity_ style output available.

[2022-03-12 10:09] robertgarrigos opened #29 "Undefined constant ENTITY_CUSTOM"
This constant is [defined in Entity UI module](https://github.com/backdrop-contrib/entity_ui/blob/c0078bc295b757bbd5a0a1e65daf09b8ed92b59d/entity_ui.module), not entity plus, which defines ENTITY PLUS CUSTOM. A solution would be to add Entity UI as dependency, but it might be easier just to define the constant in the code itself.

[2022-03-13 18:36] robertgarrigos commented on #29
Even better, change ENTITY CUSTOM constant to ENTITY PLUS CUSTOM ([https://github.com/backdrop-contrib/entity_plus/issues/115#issuecomment-1065889187](https://github.com/backdrop-contrib/entity_plus/issues/115#issuecomment-1065889187))

[2022-03-14 09:54] earlyburg commented on #29
@robertgarrigos
this commit from 23 days ago should have fixed this
https://github.com/backdrop-contrib/search_api/commit/b99e35882c87660ca37fa3e4fa0f26d59731dc1e
In addition, I have verified that there are no instances of this string (ENTITY_CUSTOM) in the search_api and search_api_page module.
Latest release is here:
https://github.com/backdrop-contrib/search_api/releases/tag/1.x-1.0.06
Closing

[2022-03-14 09:54] #29 closed

[2022-04-20 08:30] robertgarrigos commented on #29
Indeed, latest update fixed this. Thanks.

[2022-05-21 06:26] laryn opened #30 "Error: Class 'EntityFieldHandlerHelper' not found"
There are a few cases where 'EntityFieldHandlerHelper' should be 'EntityPlusFieldHandlerHelper'.

[2022-05-21 06:32] laryn opened #32 "Error: Call to undefined method SearchApiViewsQuery::placeholder()"
I'm testing with a basic exposed "combine fields filter" and getting this error.

[2022-05-22 08:54] earlyburg commented on #32
Please feel free to submit a pull request. I will do what I can.

[2022-05-23 11:45] #30 closed

[2022-05-23 11:54] earlyburg commented on #32
Dang. The function is just not there. Odd that this did not come up before - going to instanciate it and do a new version

[2022-05-28 12:43] earlyburg commented on #32
From my analysis, I am not seeing any reason for the method. I had a look at the Drupal 7 version of the module and it's not in there either. I can throw the method into the code and have it return NULL or TRUE or something but I would much rather figure out which views handler is having the issue and figure out what it needs. To that end, we will need to test. To test we will need to reproduce th

[2022-06-29 22:43] laryn opened #33 "Validation function `element_validate_integer` has been replaced"
I see a few spots where `element_validate_integer` should be removed and replaced as per this example:

 - https://github.com/backdrop/backdrop/commit/139f65f52ae6f1a9deb774b4238fc007d90ec103

[2022-06-29 22:46] laryn commented on #32
@earlyburg Do you get an error without it if you're using a "Combine fields" exposed filter in a view?

[2022-07-01 21:08] laryn commented on #33
@earlyburg See what you think of the PR.

[2022-07-01 21:12] laryn commented on #32
I'm starting fresh and I'll see if this error comes up again. If so I'll reopen.

[2022-07-01 21:12] #32 closed

[2022-07-02 09:09] #33 closed

[2022-07-02 09:11] earlyburg commented on #28
It would be great I agree. Too bad no one is around to take on that time consuming job.

[2022-07-02 09:15] earlyburg commented on #32
I don't really use views that much any more.
They are difficult to style and keep updated.
As a dev it usually takes me less time to programmaticly build content from scratch than try to make a generic solution be specific.
Subsequently I don't know the answer to the question. Apologies.

[2022-07-08 17:50] keiserjb opened #35 "Search relevance field"
I tried to add a field for search relevance and the handler was always broken in the view.

Line 102 of search_api_views.views.inc needs to be
`$table['search_api_relevance']['field']['handler'] = 'entity_plus_views_handler_field_numeric';`  Then it works.

[2022-07-08 17:55] earlyburg commented on #35
I will have a look at this tomorrow. Thanks for pointing this out.

[2022-07-21 22:23] jenlampton commented on #24
The core issue has [a PR](https://github.com/backdrop/backdrop/pull/2868) and you can use that for your testing. You can grab a patch version of the PR at https://github.com/backdrop/backdrop/pull/2868.patch if that's easier.

[2022-10-06 13:56] yorkshire-pudding opened #36 "PHP 8.1 Deprecated: Optional parameter $drush declared before required parameter $context"
On PHP 8.1 site with search_api enabled, this appears at the top of the screen

Deprecated: Optional parameter $drush declared before required parameter $context is implicitly treated as a required parameter in /app/docroot/modules/search_api/search_api.module on line 3401